@tailwind base;
@tailwind components;
@tailwind utilities;

/* common class */
.flex-center{
    @apply flex justify-center items-center
}
.task-title-topbar{
    @apply w-[26rem]  hover:no-underline bg-white dark:bg-black rounded-[0.5rem]
}
.task-coloumn {
    @apply w-full px-[16px] py-[10px] dark:bg-black bg-white rounded-[12px] flex items-center cursor-pointer
}


#colorPicker{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
}
#colorPicker::-webkit-color-swatch{
    border-radius: 15px;
    border: none;
}
#colorPicker::-moz-color-swatch{
    border-radius: 15px;
    border: none;
}


.custom-slider {
    width: 100%; /* Set the width of the slider */
    height: 20px; /* Set the height of the slider */
    background-color: #ddd; /* Set the background color of the slider track */
    border: none; /* Remove the default border */
    border-radius: 10px; /* Set border radius */
    outline: none; /* Remove outline on focus */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Set the width of the thumb */
    height: 20px; /* Set the height of the thumb */
    background-color: #007bff; /* Set the color of the thumb */
    border-radius: 50%; /* Create a circular thumb */
    cursor: pointer; /* Change cursor to pointer */
  }
