@tailwind base;
@tailwind components;
@tailwind utilities;

/* common class */
.flex-center{
    @apply flex justify-center items-center
}
.task-title-topbar{
    @apply w-[26rem]  hover:no-underline bg-white dark:bg-black rounded-[0.5rem]
}
.task-coloumn {
    @apply w-full px-[16px] py-[10px] dark:bg-black bg-white rounded-[12px] flex items-center cursor-pointer
}


#colorPicker{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
}
#colorPicker::-webkit-color-swatch{
    border-radius: 15px;
    border: none;
}
#colorPicker::-moz-color-swatch{
    border-radius: 15px;
    border: none;
}